#digit {
  width: .6em;
  overflow: hidden;
  font: 32px monospace;
  cursor: pointer;
  padding: 10px 0px;
  ;
}

#stripe {
  display: inline-block
}

#stripe.animate {
  transform: translate(-90%);
  transition-property: transform;
  transition-duration: 9s;
  transition-timing-function: linear;
}

.train {
  position: relative;
  cursor: pointer;
  width: 177px;
  height: 160px;
  left: 0;
  transition: left 5s cubic-bezier(.25, .1, .25, 1);
}

#boat {
  margin-left: 0;
  cursor: pointer;
  transition: margin-left 3s ease-in-out;
}

/* flipping the picture with CSS */
.back {
  transform: scaleX(-1);
  filter: fliph;
}

@keyframes go-left-right {

  /* give it a name: "go-left-right" */
  from {
    left: 0px;
  }

  /* animate from left: 0px */
  to {
    left: calc(100% - 50px);
  }

  /* animate to left: 100%-50px */
}

.progress {
  animation: go-left-right 3s infinite alternate;
  /* apply the animation "go-left-right" to the element
       duration 3 seconds
       number of times: infinite
       alternate direction every time
    */

  position: relative;
  border: 2px solid green;
  width: 50px;
  height: 20px;
  background: lime;
}

/* original class */
img {
  cursor: pointer;
}

#flyjet {
  width: 40px;
  height: 24px;
  transition: all 3s;
}

/* JS adds .growing */
#flyjet.growing {
  width: 400px;
  height: 240px;
}

.circle {
  transition-property: width, height, margin-left, margin-top;
  transition-duration: 10s;
  position: relative;
  transform: translateX(-50%) translateY(-50%);
  background-color: red;
  border-radius: 50%;

  width: 200px;
  height: 200px;
  top: 150px;
  left: 150px;
}
