body {
    font-size: 1.2em;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 0.5px;
}

main {
    padding: 10px;
}

h1,
h2,
h3 {
    padding-left: 10px;
}

p {
    padding-left: 10px;
    background-color: antiquewhite;
    border: 2px solid gray;
    border-radius: 10px
}

button {
    text-align: center;
    margin: 0 auto;
    width: 60px;
}

#container {
    padding: 1.5em;
    background: linear-gradient(-45deg, rgb(245, 156, 127), rgb(241, 89, 38));
    border-radius: 10px;
}

div {
    line-height: 2.5em;
    text-align: center
}

.cardp,
.card {
    line-height: 1em;
}


@media(min-width: 700px) {
    /*body {
        width: 60%;
        background: url(dinner.jpg) no-repeat center center fixed;
        background-size: cover;
        margin-top: 20px;
    }*/

    #container {
        opacity: 0.9;
    }

    label,
    input {
        display: inline-block;
        width: 40%;
    }

    div {
        line-height: 4em;
    }

    .cardp,
    .card {
        line-height: 1em;
    }
}
